@import "tailwindcss";
@import './variables.css';

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--dark-bg);
  color: var(--dark-text);
  font-family: 'Roboto', system-ui, sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin: 0;
  min-height: 100vh;
  background-image:
    radial-gradient(circle at 50% 20%, var(--dark-one) 0%, transparent 30%),
    radial-gradient(circle at 85% 70%, var(--dark-two) 0%, transparent 30%),
    radial-gradient(circle at 15% 120%, var(--dark-one) 0%, transparent 30%),
    radial-gradient(circle at 15% 170%, var(--dark-two) 0%, transparent 30%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

a,
button,
li,
svg,
* {
  cursor: none !important;
}