:root {
  --dark-bg: #011727;
  --dark-one: #3cd5f346;
  --dark-two: #c0308e46;
  --dark-three: #3cd5f3;
  --dark-four: #c0308e;
  --dark-five: #f4a938;
  --dark-six: #f4a93846;
  --dark-text: #ffffff;

  --light-bg: #fffcf2;
  --light-one: #155b5b;
  --light-two: #ffb36b;
  --light-text: #252422;
}